body, html {
  margin: 0;
  padding: 0;
  background-color: #fff8dc;
  font-family:'PixelFont', 'Arial', sans-serif;
  color: #333;
  text-align: center;
}

.WheelOfFortuneGame {
  font-family: 'Arial', sans-serif;
  color: #3a2a17dc;
  text-align: center;
  position: relative;
}

.mute-button {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10; /* Ensure it's above other elements */
}

.mute-button img {
  width: 40px; /* Or any size you prefer */
  height: auto;
}

header {
  padding: 70px;
  font-size: 2.3em;
  background-image: linear-gradient(to bottom, #ffe26f, #fff8dc); /* Start with light yellow, end with white */
  text-align: center;
}

@font-face {
  font-family: 'PixelFont';
  src: url('./wof-front.TTF') format('woff'), /* URL to the font file */
       url('./wof-front.TTF') format('truetype'); /* Fallback for older browsers */
}

header h1 {
  font-family: 'PixelFont', sans-serif; /* Use the custom pixel font */
}

.wheel-container {
  background-color: #fff8dc; /* Light yellow background color */
  display: inline-block; /* Keeps the background only around the content */
  padding: 10px; /* Padding around the wheel */
  border-radius: 10px; /* Optional: Adds rounded corners to the container */
}

.wheel-container img {
  width: 350px; /* Adjust this value to the desired size */
  height: auto; /* This will maintain the aspect ratio of the image */
  border-radius: 50%;
}

.phrase-display, .hidden-phrase-display {
  font-size: 1.5em;
  margin: 10px 0;
}

.input-container input {
  padding: 10px 15px;
  margin: 5px; 
  border: 2px solid #ff8c00;
  border-radius: 15px;
  font-family: 'PixelFont', sans-serif;
  font-size: 1em;
  color: #333;
  background-color: #fff8dc;
  outline: none;
}

.input-container input:focus {
  border-color: #884b00; /* Darker border color on focus, similar to your button hover state */
}

.scoreboard {
  /* margin-top: 40px; */
  background-color: #fff8dc;
  padding: 10px;
  margin-bottom: 20px;
  font-family: 'PixelFont', sans-serif;
  font-size: 1.7em;
  color: #4d3b25d7;
}


.phrase-display {
  margin-top: 70px;
  font-family: 'PixelFont', sans-serif;
  font-size: 2.5em;
  color: #4d3b25d7;
}

.hidden-phrase-display {
  margin-top: 40px;
  font-family: 'PixelFont', sans-serif;
  font-size: 2.5em;
  color: #4d3b25d7;
}

.congrats-info{
  font-size: 5em;
  font-family: 'PixelFont', sans-serif;
  color:#e75321f6;
}

.lose-info{
  font-size: 4em;
  font-family: 'PixelFont', sans-serif;
  color:#ab230ef6;
}

button {
  background-color: #ff9b20e9;
  color: #fff8dc;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  font-size: 1.5em;
  border-radius: 15px;
  font-family: 'PixelFont', sans-serif;
}

button:hover {
  background-color: #884b00;
}

footer {
  margin-top: 80px;
  font-family: 'PixelFont', sans-serif;
  font-size: 1.0em;
  color:#ffe168f6;
}